openapi: 3.0.0
info:
  title: Algebras Authentication API
  version: '1.0'
servers:
- url: https://platform.algebras.ai/api/v1
- url: http://localhost:3000/api/v1
- url: https://beta.algebras.ai/api/v1
security:
- APIKeyHeader: []
tags:
- name: Authentication
paths:
  /me:
    get:
      tags:
      - Authentication
      summary: Get API key and account information
      description: Returns information about the API key used and the associated organization account
      security:
      - APIKeyHeader: []
      responses:
        '200':
          description: API key and organization information
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - timestamp
                - data
                properties:
                  status:
                    type: string
                    description: Status of the request
                    enum:
                    - ok
                    - error
                    example: ok
                  timestamp:
                    type: string
                    description: Timestamp of the response
                    format: date-time
                    example: '2025-10-10T12:34:56.789Z'
                  data:
                    type: object
                    required:
                    - apiKey
                    - organization
                    properties:
                      apiKey:
                        type: object
                        description: Information about the API key used
                        required:
                        - name
                        - createdAt
                        - createdByUserName
                        properties:
                          name:
                            type: string
                            description: Name of the API key
                            example: Production API Key
                          createdAt:
                            type: string
                            description: When the API key was created
                            format: date-time
                            example: '2025-01-15T10:30:00.000Z'
                          createdByUserName:
                            type: string
                            description: Name of the user who created the API key
                            example: John Doe
                      organization:
                        type: object
                        description: Information about the organization
                        required:
                        - id
                        - name
                        - subscriptionStatus
                        properties:
                          id:
                            type: string
                            description: Organization ID
                            example: org_123abc
                          name:
                            type: string
                            description: Organization name
                            example: Acme Corporation
                          subscriptionStatus:
                            type: string
                            nullable: true
                            description: Current subscription status
                            example: active
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - error
                  timestamp:
                    type: string
                    format: date-time
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: API key missing
        '429':
          description: Too Many Requests - Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - error
                  timestamp:
                    type: string
                    format: date-time
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Too many requests
components:
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
externalDocs:
  url: https://docs.algebras.ai
