{"openapi":"3.0.0","info":{"title":"Algebras API","version":"1.0"},"servers":[{"url":"https://platform.algebras.ai/api/v1"},{"url":"http://localhost:3000/api/v1"},{"url":"https://beta.algebras.ai/api/v1"}],"externalDocs":{"url":"https://docs.algebras.ai"},"components":{"securitySchemes":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"X-Api-Key"}},"schemas":{"Language":{"type":"object","required":["language","name"],"properties":{"language":{"type":"string","description":"Language code","example":"en"},"name":{"type":"string","description":"Name of the language","example":"English"}}},"RealtimeStreamSession":{"type":"object","required":["id","name","createdAt","listeners","sourceLanguage"],"properties":{"id":{"type":"string","description":"Unique stream session ID","example":"cmabc123stream"},"name":{"type":"string","description":"Human-readable stream session name","example":"Weekly all-hands"},"createdAt":{"type":"string","format":"date-time","description":"When the stream session was created","example":"2026-04-16T12:30:00.000Z"},"listeners":{"type":"integer","description":"Current listener count snapshot","example":0},"sourceLanguage":{"type":"string","description":"Source language code for the stream session","example":"en"}}},"CreateRealtimeStreamSessionRequest":{"type":"object","required":["name","sourceLanguage"],"properties":{"name":{"type":"string","description":"Name of the stream session","example":"Weekly all-hands"},"sourceLanguage":{"type":"string","description":"Source language code","example":"en"}}},"StartRealtimeStreamRequest":{"type":"object","properties":{"participantName":{"type":"string","description":"Optional participant display name for the speaker connection","example":"API Speaker"}}},"RealtimeSpeakerConnection":{"type":"object","required":["roomName","serverUrl","token","participantIdentity","participantName"],"properties":{"roomName":{"type":"string","description":"LiveKit speaker room name","example":"stream-cmabc123stream"},"serverUrl":{"type":"string","description":"LiveKit server URL","example":"wss://algebras-livekit.example.com"},"token":{"type":"string","description":"JWT token for joining the speaker room"},"participantIdentity":{"type":"string","description":"Speaker participant identity","example":"speaker-api-key-id"},"participantName":{"type":"string","description":"Speaker participant display name","example":"API Speaker"}}},"StopRealtimeStreamResult":{"type":"object","required":["closedRooms"],"properties":{"closedRooms":{"type":"integer","description":"Number of LiveKit rooms that were closed","example":3}}},"GenerateRealtimePublicLinkRequest":{"type":"object","properties":{"langCode":{"type":"string","description":"Optional listener language code for the public link","example":"spanish"}}},"RealtimePublicLink":{"type":"object","required":["publicId","publicPath","langCode","speakerRoomName","listenerRoomName"],"properties":{"publicId":{"type":"string","description":"Public listener link ID","example":"cmpublic123"},"publicPath":{"type":"string","description":"Relative path for the public listener link redirect","example":"/api/public/live/cmpublic123"},"langCode":{"type":"string","description":"Listener language code encoded in the link","example":"spanish"},"speakerRoomName":{"type":"string","description":"LiveKit speaker room name","example":"stream-cmabc123stream"},"listenerRoomName":{"type":"string","description":"LiveKit listener room name","example":"stream-cmabc123stream-spanish"}}},"RealtimeStreamLiveStats":{"type":"object","required":["isStreamLive","isSpeakerOnline","listeners","listenerRooms"],"properties":{"isStreamLive":{"type":"boolean","description":"Whether the stream has an active speaker or listener room","example":true},"isSpeakerOnline":{"type":"boolean","description":"Whether the speaker room is currently active","example":true},"listeners":{"type":"integer","description":"Total listener count across listener rooms","example":42},"listenerRooms":{"type":"integer","description":"Number of active listener rooms","example":2}}},"RtmpIngress":{"type":"object","required":["ingressId","ingressUrl","ingressStreamKey"],"properties":{"ingressId":{"type":"string","description":"LiveKit ingress ID","example":"ingress_123"},"ingressUrl":{"type":"string","description":"RTMP ingest URL","example":"rtmp://ingest.example.com/live"},"ingressStreamKey":{"type":"string","description":"RTMP stream key"}}},"PublicListenerConnection":{"type":"object","required":["streamId","streamName","serverUrl","token","roomName","sourceRoom","sourceLang","targetLang"],"properties":{"streamId":{"type":"string","description":"Stream session ID","example":"cmabc123stream"},"streamName":{"type":"string","description":"Stream session name","example":"Weekly all-hands"},"serverUrl":{"type":"string","description":"LiveKit server URL","example":"wss://algebras-livekit.example.com"},"token":{"type":"string","description":"JWT token for joining the listener room"},"roomName":{"type":"string","description":"LiveKit listener room name","example":"stream-cmabc123stream-en"},"sourceRoom":{"type":"string","description":"Source speaker room name","example":"stream-cmabc123stream"},"sourceLang":{"type":"string","description":"Source language code","example":"en"},"targetLang":{"type":"string","description":"Target language code","example":"es"}}},"StartRtmpEgressRequest":{"type":"object","required":["targetLang","rtmpUrl"],"properties":{"targetLang":{"type":"string","description":"Target language code for the listener room","example":"es"},"rtmpUrl":{"type":"string","description":"Base RTMP destination URL","example":"rtmp://a.rtmp.youtube.com/live2"},"streamKey":{"type":"string","description":"Optional RTMP stream key appended to the URL","example":"abcd-1234-efgh-5678"}}},"StartRtmpEgressResult":{"type":"object","required":["egressId"],"properties":{"egressId":{"type":"string","description":"LiveKit egress ID","example":"EG_xxxxx"}}},"TranslationStatus":{"type":"string","enum":["PENDING","READY","ERROR"],"description":"Status of the translation/localization job"},"LocalizationResult":{"type":"object","required":["success","message","localizationId","status"],"properties":{"success":{"type":"boolean","description":"Whether the localization request was successful"},"message":{"type":"string","description":"Response message"},"localizationId":{"type":"string","description":"Unique identifier for the localization job"},"status":{"$ref":"#/components/schemas/TranslationStatus"}}},"LocalizationHistoryItem":{"type":"object","required":["id","status","name","fileKey","createdAt"],"properties":{"id":{"type":"string","description":"Unique identifier for the localization"},"status":{"$ref":"#/components/schemas/TranslationStatus"},"name":{"type":"string","description":"Name of the localization file"},"fileKey":{"type":"string","description":"Storage key for the file"},"createdAt":{"type":"string","format":"date-time","description":"When the localization was created"}}},"DownloadUrl":{"type":"object","required":["url"],"properties":{"url":{"type":"string","format":"uri","description":"Signed URL for downloading the file (expires in 60 minutes)"}}},"GlossaryStatus":{"type":"string","enum":["OK","CREATING","UPDATING","DELETING","ERROR"],"description":"Status of the glossary"},"GlossaryLanguage":{"type":"object","required":["language","createdAt","updatedAt"],"properties":{"language":{"type":"string","description":"Language code","example":"en"},"createdAt":{"type":"string","format":"date-time","description":"When the language was added to the glossary"},"updatedAt":{"type":"string","format":"date-time","description":"When the language was last updated"}}},"GlossaryTermDefinition":{"type":"object","required":["language","term","definition","createdAt","updatedAt"],"properties":{"language":{"type":"string","description":"Language code","example":"en"},"term":{"type":"string","description":"The term text","example":"API"},"definition":{"type":"string","description":"Definition of the term","example":"Application Programming Interface"},"createdAt":{"type":"string","format":"date-time","description":"When the definition was created"},"updatedAt":{"type":"string","format":"date-time","description":"When the definition was last updated"}}},"GlossaryTerm":{"type":"object","required":["id","glossaryId","translationFlag","createdAt","updatedAt","definitions"],"properties":{"id":{"type":"string","description":"Unique identifier for the term"},"glossaryId":{"type":"string","description":"ID of the glossary this term belongs to"},"translationFlag":{"type":"boolean","description":"Whether this term should be used for translation"},"createdAt":{"type":"string","format":"date-time","description":"When the term was created"},"updatedAt":{"type":"string","format":"date-time","description":"When the term was last updated"},"definitions":{"type":"array","items":{"$ref":"#/components/schemas/GlossaryTermDefinition"},"description":"Definitions of the term in different languages"}}},"Glossary":{"type":"object","required":["id","name","organizationId","status","createdAt","updatedAt","languages","terms"],"properties":{"id":{"type":"string","description":"Unique identifier for the glossary"},"name":{"type":"string","description":"Name of the glossary","example":"Technical Terms"},"organizationId":{"type":"string","description":"ID of the organization that owns this glossary"},"status":{"$ref":"#/components/schemas/GlossaryStatus"},"createdAt":{"type":"string","format":"date-time","description":"When the glossary was created"},"updatedAt":{"type":"string","format":"date-time","description":"When the glossary was last updated"},"languages":{"type":"array","items":{"$ref":"#/components/schemas/GlossaryLanguage"},"description":"Languages supported by this glossary"},"terms":{"type":"array","items":{"$ref":"#/components/schemas/GlossaryTerm"},"description":"Terms in this glossary"}}}}},"paths":{"/translation/glossaries":{"get":{"tags":["Glossaries"],"summary":"List all glossaries","description":"Retrieves a paginated list of all glossaries for the organization","parameters":[{"name":"page","in":"query","schema":{"type":"integer","minimum":1,"default":1},"description":"Page number for pagination"},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"description":"Number of items per page"}],"responses":{"200":{"description":"Glossaries retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Glossary"}},"pagination":{"type":"object","properties":{"page":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"},"totalPages":{"type":"integer"}}}}}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal server error"}}},"post":{"tags":["Glossaries"],"summary":"Create a new glossary","description":"Creates a new glossary with the specified name and languages","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","languages"],"properties":{"name":{"type":"string","description":"Name of the glossary","example":"Technical Terms"},"languages":{"type":"array","items":{"type":"string"},"description":"Array of language codes","example":["en","es","fr"]}}}}}},"responses":{"200":{"description":"Glossary created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"$ref":"#/components/schemas/Glossary"}}}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal server error"}}}},"/translation/glossaries/{id}":{"get":{"tags":["Glossaries"],"summary":"Get glossary by ID","description":"Retrieves a specific glossary with all its terms and definitions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Glossary ID"}],"responses":{"200":{"description":"Glossary retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"$ref":"#/components/schemas/Glossary"}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Glossary not found"},"500":{"description":"Internal server error"}}},"put":{"tags":["Glossaries"],"summary":"Update glossary","description":"Updates a glossary's name and languages","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Glossary ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"New name for the glossary","example":"Updated Technical Terms"},"languages":{"type":"array","items":{"type":"string"},"description":"Array of language codes","example":["en","es","fr","de"]}}}}}},"responses":{"200":{"description":"Glossary updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"$ref":"#/components/schemas/Glossary"}}}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Glossary not found"},"500":{"description":"Internal server error"}}},"delete":{"tags":["Glossaries"],"summary":"Delete glossary","description":"Deletes a glossary and all its terms and definitions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Glossary ID"}],"responses":{"200":{"description":"Glossary deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"object","properties":{"id":{"type":"string","description":"ID of the deleted glossary"}}}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Glossary not found"},"500":{"description":"Internal server error"}}}},"/translation/glossaries/{id}/terms":{"get":{"tags":["Glossaries"],"summary":"List terms for glossary","description":"Retrieves a paginated list of all terms for a specific glossary","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Glossary ID"},{"name":"page","in":"query","schema":{"type":"integer","minimum":1,"default":1},"description":"Page number for pagination"},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"description":"Number of items per page"}],"responses":{"200":{"description":"Terms retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"array","items":{"$ref":"#/components/schemas/GlossaryTerm"}},"pagination":{"type":"object","properties":{"page":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"},"totalPages":{"type":"integer"}}}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Glossary not found"},"500":{"description":"Internal server error"}}},"post":{"tags":["Glossaries"],"summary":"Create single term with definitions","description":"Creates a single term with definitions for multiple languages. All definitions belong to the same GlossaryTerm instance.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Glossary ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["definitions"],"properties":{"definitions":{"type":"array","items":{"type":"object","required":["language","term","definition"],"properties":{"language":{"type":"string","description":"Language code","example":"en"},"term":{"type":"string","description":"The term text","example":"API"},"definition":{"type":"string","description":"Definition of the term","example":"Application Programming Interface"}}}}}}}}},"responses":{"200":{"description":"Term created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"$ref":"#/components/schemas/GlossaryTerm"}}}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Glossary not found"},"500":{"description":"Internal server error"}}}},"/translation/glossaries/{id}/terms/bulk":{"post":{"tags":["Glossaries"],"summary":"Create multiple terms with definitions","description":"Creates multiple terms, each with definitions for multiple languages","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Glossary ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["terms"],"properties":{"terms":{"type":"array","items":{"type":"object","required":["definitions"],"properties":{"definitions":{"type":"array","items":{"type":"object","required":["language","term","definition"],"properties":{"language":{"type":"string","description":"Language code","example":"en"},"term":{"type":"string","description":"The term text","example":"API"},"definition":{"type":"string","description":"Definition of the term","example":"Application Programming Interface"}}}}}}}}}}}},"responses":{"200":{"description":"All terms created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"array","items":{"$ref":"#/components/schemas/GlossaryTerm"}}}}}}},"207":{"description":"Partial success - some terms created, some failed","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["partial_success"]},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"object","properties":{"successful":{"type":"array","items":{"$ref":"#/components/schemas/GlossaryTerm"}},"failed":{"type":"array","items":{"type":"object","properties":{"index":{"type":"integer","description":"Index of the failed term in the original request"},"error":{"type":"string","description":"Error message"},"details":{"type":"string","description":"Additional error details (optional)"}}}},"successCount":{"type":"integer","description":"Number of successfully created terms"},"failedCount":{"type":"integer","description":"Number of failed terms"}}}}}}}},"400":{"description":"Bad request - all terms failed or validation error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string"},"details":{"type":"array","items":{"type":"object","properties":{"index":{"type":"integer"},"error":{"type":"string"},"details":{"type":"string"}}}}}}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Glossary not found"},"500":{"description":"Internal server error"}}}},"/translation/glossaries/{id}/terms/{termId}":{"get":{"tags":["Glossaries"],"summary":"Get term by ID","description":"Retrieves a specific term with all its definitions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Glossary ID"},{"name":"termId","in":"path","required":true,"schema":{"type":"string"},"description":"Term ID"}],"responses":{"200":{"description":"Term retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"$ref":"#/components/schemas/GlossaryTerm"}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Term not found"},"500":{"description":"Internal server error"}}},"put":{"tags":["Glossaries"],"summary":"Update term definitions","description":"Updates a term's definitions for different languages","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Glossary ID"},{"name":"termId","in":"path","required":true,"schema":{"type":"string"},"description":"Term ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"definitions":{"type":"array","items":{"type":"object","required":["language"],"properties":{"language":{"type":"string","description":"Language code","example":"en"},"term":{"type":"string","description":"The term text","example":"API"},"definition":{"type":"string","description":"Definition of the term","example":"Application Programming Interface"}}}}}}}}},"responses":{"200":{"description":"Term updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"$ref":"#/components/schemas/GlossaryTerm"}}}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"Term not found"},"500":{"description":"Internal server error"}}},"delete":{"tags":["Glossaries"],"summary":"Delete term","description":"Deletes a term and all its definitions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Glossary ID"},{"name":"termId","in":"path","required":true,"schema":{"type":"string"},"description":"Term ID"}],"responses":{"200":{"description":"Term deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"object","properties":{"id":{"type":"string","description":"ID of the deleted term"}}}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Term not found"},"500":{"description":"Internal server error"}}}},"/translation/glossaries/updates":{"get":{"tags":["Glossaries"],"summary":"Get glossary status updates","description":"Streams real-time status updates for all glossaries in the organization","responses":{"200":{"description":"Server-sent events stream with glossary status updates","content":{"text/event-stream":{"schema":{"type":"string","description":"Server-sent events stream"}}}},"400":{"description":"Bad request - missing organizationId"},"401":{"description":"Unauthorized"}}}},"/translation/glossaries/updates/{id}":{"get":{"tags":["Glossaries"],"summary":"Get specific glossary status updates","description":"Streams real-time status updates for a specific glossary","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Glossary ID"}],"responses":{"200":{"description":"Server-sent events stream with glossary status updates","content":{"text/event-stream":{"schema":{"type":"string","description":"Server-sent events stream"}}}},"400":{"description":"Bad request - missing organizationId"},"401":{"description":"Unauthorized"}}}},"/video/translate":{"post":{"summary":"Start translation of an uploaded video file","description":"Starts the video translation process for a video that was previously uploaded to storage. The video must be in UPLOADED or READY status. This will extract audio, transcribe it, translate the transcription, synthesize new audio, and create the final translated video.\n","tags":["Video"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["videoId","targetLanguage"],"properties":{"videoId":{"type":"string","example":"cmgasbs4v0003xodafdivu1bc","description":"Video record ID from upload-url response"},"targetLanguage":{"type":"string","example":"ru-RU","description":"Target language code for translation"},"voicePreference":{"type":"string","enum":["male","female"],"description":"Optional voice preference for audio synthesis"},"numSpeakers":{"type":"integer","minimum":1,"maximum":32,"description":"Optional number of speakers for better transcription accuracy"}}}}}},"responses":{"200":{"description":"Video translation started successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"object","properties":{"taskId":{"type":"string","example":"video-translation-task-123"},"status":{"type":"string","example":"started"}}}}}}}},"400":{"description":"Invalid input or video not found"},"401":{"description":"Unauthorized (invalid API key)"},"500":{"description":"Internal server error"}}}},"/video/status/update":{"post":{"summary":"Update video upload status","description":"Updates the status of a video after upload completion or failure. Used to mark video as UPLOADED after successful upload to storage bucket, or FAILED if upload failed. Only UPLOADED and FAILED statuses can be set through this endpoint.\n","tags":["Video"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["videoId","status"],"properties":{"videoId":{"type":"string","example":"cmgasbs4v0003xodafdivu1bc","description":"Video record ID from upload-url response"},"status":{"type":"string","enum":["UPLOADED","FAILED"],"example":"UPLOADED","description":"New status for the video"}}}}}},"responses":{"200":{"description":"Video status updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"object","properties":{"videoId":{"type":"string","example":"cmgasbs4v0003xodafdivu1bc"},"status":{"type":"string","example":"UPLOADED"},"updatedAt":{"type":"string","format":"date-time"}}}}}}}},"400":{"description":"Invalid input or video not found"},"401":{"description":"Unauthorized (invalid API key)"},"500":{"description":"Internal server error"}}}},"/translation/translate-batch":{"post":{"tags":["Translation"],"summary":"Translate multiple texts in batch","description":"Translates multiple texts with the same translation settings.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"texts":{"type":"array","items":{"type":"string"},"description":"Array of texts to be translated (max 20)","example":["Hello world","How are you?","Good morning"]},"contexts":{"type":"array","items":{"type":"string","nullable":true},"description":"Optional per-row translator context aligned by index with texts","example":[null,"Mary stutters from excitement","This line appears after a wall collapse"]},"sourceLanguage":{"type":"string","description":"The source language (use 'auto' for automatic detection)","example":"en"},"targetLanguage":{"type":"string","description":"The target language for the translation","example":"de"},"glossaryId":{"type":"string","description":"Optional glossary ID to use for translation","default":null},"prompt":{"type":"string","description":"Optional prompt to guide translation","default":null},"flag":{"type":"boolean","description":"Optional flag for length preservation","example":false},"ignoreCache":{"type":"boolean","description":"Ignore previous translation results","example":false},"fluency":{"type":"boolean","description":"Evaluate translation fluency in the same LLM call","example":false}},"required":["texts","sourceLanguage","targetLanguage"]}}}},"responses":{"200":{"description":"Successful batch translation","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"object","properties":{"translations":{"type":"array","items":{"type":"object","properties":{"index":{"type":"number","description":"Original index of the text in the input array"},"content":{"type":"string","description":"Translated content"},"warning":{"type":"string","description":"Optional warning message"},"error":{"type":"string","description":"Error message if translation failed"},"status_code":{"type":"number","description":"HTTP status code for failed translations"}}}},"fluency":{"type":"array","description":"Fluency evaluations (present only when fluency flag was set)","items":{"type":"object","properties":{"index":{"type":"number","description":"Original index of the text in the input array"},"value":{"type":"number","nullable":true,"description":"Aggregate fluency score (mean of 5 dimensions, 1-10)"},"idiomatic":{"type":"number","nullable":true,"description":"Naturalness of expression (1-10)"},"collocational":{"type":"number","nullable":true,"description":"Standard word combinations (1-10)"},"discourse":{"type":"number","nullable":true,"description":"Connectors and coherence (1-10)"},"pragmatic":{"type":"number","nullable":true,"description":"Register and tone (1-10)"},"calque":{"type":"number","nullable":true,"description":"Avoids mirror renderings (1-10, high = few calques)"},"issue_type":{"type":"string","nullable":true,"description":"calque | collocation | idiom_literal | discourse_marker | register_mismatch | false_friend | none"},"severity":{"type":"string","nullable":true,"description":"critical | major | minor | cosmetic"},"problematic_phrase":{"type":"string","nullable":true,"description":"Short substring illustrating the main problem"},"suggested_fix":{"type":"string","nullable":true,"description":"Brief fix suggestion"},"main_issue":{"type":"string","nullable":true,"description":"One sentence summary of the main linguistic issue"}}}},"batch_summary":{"type":"object","properties":{"total":{"type":"number","description":"Total number of texts processed"},"successful":{"type":"number","description":"Number of successful translations"},"failed":{"type":"number","description":"Number of failed translations"},"total_credits":{"type":"number","description":"Total credits consumed (internal use only)"}}}}}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Error message"},"issues":{"type":"array","items":{"type":"string"},"description":"Validation error messages"}}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Authentication error message"}}}}}}}},"402":{"description":"Payment required - quota exceeded","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Quota exceeded message"},"quota_exceeded":{"type":"boolean","description":"Indicates quota was exceeded"}}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Error message"}}}}}}}}}}},"/translation/translate":{"post":{"tags":["Translation"],"summary":"Translate text or files","description":"Translates the given text or files into the target language.","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"sourceLanguage":{"type":"string","description":"The source language (use 'auto' for automatic detection)","example":"auto"},"targetLanguage":{"type":"string","description":"The target language for the translation","example":"de"},"textContent":{"type":"string","description":"Text to be translated (mutually exclusive with fileContent)","example":"Hello world"},"fileContent":{"type":"array","items":{"type":"string","format":"binary"},"description":"CSV files to be translated (mutually exclusive with textContent)","default":[]},"glossaryId":{"type":"string","description":"Optional glossary ID to use for translation","default":""},"prompt":{"type":"string","description":"Optional prompt to guide translation","default":""},"flag":{"type":"boolean","description":"Optional flag for length preservation","default":false},"ignoreCache":{"type":"boolean","description":"Ignore previous translation results","default":false},"fluency":{"type":"boolean","description":"Evaluate translation fluency in the same LLM call (text-only, skipped for long texts)","default":false}},"required":["sourceLanguage","targetLanguage"]}}}},"responses":{"200":{"description":"Successful translation","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"string","description":"Translated text content"},"fluency":{"type":"object","description":"Fluency evaluation (present only when fluency flag was set and text was not chunked)","properties":{"value":{"type":"number","nullable":true,"description":"Aggregate fluency score (mean of 5 dimensions, 1-10)"},"idiomatic":{"type":"number","nullable":true,"description":"Naturalness of expression for a native reader (1-10)"},"collocational":{"type":"number","nullable":true,"description":"Standard, commonly accepted word combinations (1-10)"},"discourse":{"type":"number","nullable":true,"description":"Connectors, coherence, information structure (1-10)"},"pragmatic":{"type":"number","nullable":true,"description":"Register, tone, implicature, dialogue markers (1-10)"},"calque":{"type":"number","nullable":true,"description":"Avoids mirror renderings from source (1-10, high = few calques)"},"issue_type":{"type":"string","nullable":true,"description":"calque | collocation | idiom_literal | discourse_marker | register_mismatch | false_friend | none"},"severity":{"type":"string","nullable":true,"description":"critical | major | minor | cosmetic"},"problematic_phrase":{"type":"string","nullable":true,"description":"Short substring from the translation illustrating the main problem"},"suggested_fix":{"type":"string","nullable":true,"description":"Brief fix suggestion"},"main_issue":{"type":"string","nullable":true,"description":"One sentence summary of the main linguistic issue"}}}}}},"application/zip":{"schema":{"type":"string","format":"binary"},"description":"ZIP file containing translated CSV files"}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Error message"},"issues":{"type":"array","items":{"type":"string"},"description":"Validation error messages"}}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Authentication error message"}}}}}}}},"402":{"description":"Payment required - quota exceeded or unpaid invoice","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Quota exceeded or billing error message"},"quota_exceeded":{"type":"boolean","description":"Indicates quota was exceeded or payment is required"}}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Error message"}}}}}}}}}}},"/translation/localization-table":{"post":{"tags":["Localization"],"summary":"Generate localization table (async)","description":"Creates a new localization table job. This is an asynchronous operation that returns immediately with a job ID and status.","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"CSV file to be localized (required)"},"glossaryId":{"type":"string","description":"Optional glossary ID to use for localization","default":""},"prompt":{"type":"string","description":"Optional prompt to guide localization. This parameter is deprecated and will not affect translation results. To use prompts during table localization, please provide them right in the table in column prompt (check last documentation on page https://platform.algebras.ai/translation/localization)","default":""},"isAgentic":{"type":"boolean","description":"Use agentic mode for localization","default":false},"ignoreCache":{"type":"boolean","description":"Ignore previous translation results","default":false}},"required":["file"]}}}},"responses":{"200":{"description":"Localization job created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"$ref":"#/components/schemas/LocalizationResult"}}}}}},"400":{"description":"Bad request - invalid file format or missing required fields"},"401":{"description":"Unauthorized"},"500":{"description":"Internal server error"}}},"get":{"tags":["Localization"],"summary":"Get localization history","description":"Retrieves the history of all localization jobs for the organization, ordered by creation date (newest first).","responses":{"200":{"description":"Localization history retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"array","items":{"$ref":"#/components/schemas/LocalizationHistoryItem"}}}}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal server error"}}}},"/translation/localization-table/{id}":{"get":{"tags":["Localization"],"summary":"Get localization by ID","description":"Retrieves a specific localization job by its ID. If status is READY, includes a signed download URL.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the localization job"}],"responses":{"200":{"description":"Localization retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"allOf":[{"$ref":"#/components/schemas/LocalizationHistoryItem"},{"type":"object","properties":{"downloadUrl":{"type":"string","format":"uri","description":"Signed URL for downloading the file (only present when status is READY, expires in 60 minutes)"}}}]}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Localization not found"},"500":{"description":"Internal server error"}}}},"/translation/localization-table/{id}/download":{"get":{"tags":["Localization"],"summary":"Get download URL for localization file","description":"Generates a signed URL for downloading the completed localization file. The URL expires in 60 minutes. Only available for files with READY status.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the localization job"}],"responses":{"200":{"description":"Download URL generated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"$ref":"#/components/schemas/DownloadUrl"}}}}}},"400":{"description":"File is not ready for download"},"401":{"description":"Unauthorized"},"404":{"description":"Localization not found or file not found in storage"},"500":{"description":"Internal server error"}}}},"/translation/live":{"get":{"tags":["Realtime"],"summary":"List realtime stream sessions","description":"Returns all realtime stream sessions for the API key organization.","security":[{"APIKeyHeader":[]}],"responses":{"200":{"description":"Stream sessions retrieved successfully","content":{"application/json":{"schema":{"type":"object","required":["status","timestamp","data"],"properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"array","items":{"$ref":"#/components/schemas/RealtimeStreamSession"}}}}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal server error"}}},"post":{"tags":["Realtime"],"summary":"Create a realtime stream session","description":"Creates a realtime stream session for the API key organization.","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRealtimeStreamSessionRequest"}}}},"responses":{"200":{"description":"Stream session created successfully","content":{"application/json":{"schema":{"type":"object","required":["status","timestamp","data"],"properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"$ref":"#/components/schemas/RealtimeStreamSession"}}}}}},"400":{"description":"Invalid request body"},"401":{"description":"Unauthorized"},"500":{"description":"Internal server error"}}}},"/translation/live/{streamId}":{"get":{"tags":["Realtime"],"summary":"Get a realtime stream session","description":"Returns a single realtime stream session by ID.","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"streamId","in":"path","required":true,"schema":{"type":"string"},"description":"Stream session ID"}],"responses":{"200":{"description":"Stream session retrieved successfully","content":{"application/json":{"schema":{"type":"object","required":["status","timestamp","data"],"properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/RealtimeStreamSession"}]}}}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal server error"}}}},"/translation/live/{streamId}/stop":{"post":{"tags":["Realtime"],"summary":"Stop a realtime speaker room","description":"Closes the speaker room and all listener rooms associated with the stream.","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"streamId","in":"path","required":true,"schema":{"type":"string"},"description":"Stream session ID"}],"responses":{"200":{"description":"Speaker room stopped successfully","content":{"application/json":{"schema":{"type":"object","required":["status","timestamp","data"],"properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"$ref":"#/components/schemas/StopRealtimeStreamResult"}}}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal server error"}}}},"/translation/live/{streamId}/stats":{"get":{"tags":["Realtime"],"summary":"Stream realtime stats","description":"Streams realtime speaker/listener status updates for a stream session. API key authentication is supported for external clients; session authentication remains supported for the dashboard.","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"streamId","in":"path","required":true,"schema":{"type":"string"},"description":"Stream session ID"}],"responses":{"200":{"description":"Server-sent events stream with realtime stats updates","content":{"text/event-stream":{"schema":{"type":"string","description":"Server-sent events stream"}}}},"400":{"description":"Bad request - missing organizationId"},"401":{"description":"Unauthorized"},"404":{"description":"Stream session not found"}}}},"/translation/live/{streamId}/start":{"post":{"tags":["Realtime"],"summary":"Start a realtime speaker room","description":"Creates or reuses the speaker room and returns a LiveKit token for publishing audio into the stream.","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"streamId","in":"path","required":true,"schema":{"type":"string"},"description":"Stream session ID"}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartRealtimeStreamRequest"}}}},"responses":{"200":{"description":"Speaker room started successfully","content":{"application/json":{"schema":{"type":"object","required":["status","timestamp","data"],"properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"$ref":"#/components/schemas/RealtimeSpeakerConnection"}}}}}},"400":{"description":"Invalid request body"},"401":{"description":"Unauthorized"},"500":{"description":"Internal server error"}}}},"/translation/live/{streamId}/rtmp-ingress":{"get":{"tags":["Realtime"],"summary":"Get RTMP ingress credentials","description":"Returns the current RTMP ingress credentials for a realtime stream, if any exist.","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"streamId","in":"path","required":true,"schema":{"type":"string"},"description":"Stream session ID"}],"responses":{"200":{"description":"RTMP ingress credentials retrieved successfully","content":{"application/json":{"schema":{"type":"object","required":["status","timestamp","data"],"properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/RtmpIngress"}]}}}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal server error"}}},"post":{"tags":["Realtime"],"summary":"Create RTMP ingress credentials","description":"Creates a new RTMP ingress for a realtime stream. If one already exists, it is rotated.","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"streamId","in":"path","required":true,"schema":{"type":"string"},"description":"Stream session ID"}],"responses":{"200":{"description":"RTMP ingress created successfully","content":{"application/json":{"schema":{"type":"object","required":["status","timestamp","data"],"properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"$ref":"#/components/schemas/RtmpIngress"}}}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal server error"}}},"delete":{"tags":["Realtime"],"summary":"Delete RTMP ingress credentials","description":"Deletes the RTMP ingress and clears any saved ingress credentials for the realtime stream.","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"streamId","in":"path","required":true,"schema":{"type":"string"},"description":"Stream session ID"}],"responses":{"200":{"description":"RTMP ingress deleted successfully","content":{"application/json":{"schema":{"type":"object","required":["status","timestamp","data"],"properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"nullable":true,"example":null}}}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal server error"}}}},"/translation/live/{streamId}/public-links":{"post":{"tags":["Realtime"],"summary":"Generate a public listener link","description":"Creates or reactivates a public listener link for a realtime stream.","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"streamId","in":"path","required":true,"schema":{"type":"string"},"description":"Stream session ID"}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateRealtimePublicLinkRequest"}}}},"responses":{"200":{"description":"Public listener link generated successfully","content":{"application/json":{"schema":{"type":"object","required":["status","timestamp","data"],"properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"$ref":"#/components/schemas/RealtimePublicLink"}}}}}},"400":{"description":"Invalid request body"},"401":{"description":"Unauthorized"},"500":{"description":"Internal server error"}}}},"/translation/languages":{"get":{"tags":["Languages"],"summary":"Languages endpoint","description":"Returns the list of supported languages","responses":{"200":{"description":"List of languages","content":{"application/json":{"schema":{"type":"object","required":["status","timestamp","data"],"properties":{"status":{"type":"string","description":"Status of the request","enum":["ok","error"],"example":"ok"},"timestamp":{"type":"string","description":"Time of the health check","format":"date-time","example":"2025-01-12T22:31:48.856Z"},"data":{"type":"array","description":"List of supported languages","items":{"$ref":"#/components/schemas/Language"}}}}}}}}}},"/translation/languages/detect":{"post":{"tags":["Languages"],"summary":"Detect language of the provided text","description":"Automatically detects the language of the provided text content.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","description":"Text whose language needs to be detected","example":"Bonjour tout le monde"}},"required":["text"]}}}},"responses":{"200":{"description":"Language detected successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"string","description":"ISO 639-1 language code of the detected language","example":"fr"}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Error message"},"issues":{"type":"array","items":{"type":"string"},"description":"Validation error messages"}}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Authentication error message"}}}}}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Rate limit exceeded"}}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Error message"}}}}}}}}}}},"/translation/fluency-batch":{"post":{"tags":["Translation"],"summary":"Evaluate fluency of multiple translations in batch","description":"Evaluates the fluency of up to 20 translation pairs concurrently. Individual item failures do not abort the whole batch.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"sourceLang":{"type":"string","description":"The source language code","example":"en"},"targetLang":{"type":"string","description":"The target language code","example":"de"},"items":{"type":"array","description":"Translation pairs to evaluate (max 20)","items":{"type":"object","properties":{"sourceText":{"type":"string","description":"The original text in the source language","example":"Hello world"},"translatedText":{"type":"string","description":"The translated text to evaluate","example":"Hallo Welt"}},"required":["sourceText","translatedText"]}}},"required":["sourceLang","targetLang","items"]}}}},"responses":{"200":{"description":"Successful batch fluency evaluation","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"object","properties":{"evaluations":{"type":"array","items":{"type":"object","properties":{"index":{"type":"number","description":"Original index of the item in the input array"},"fluency":{"type":"number","nullable":true,"description":"Aggregate fluency score (mean of 5 dimensions, 1-10)"},"idiomatic":{"type":"number","nullable":true,"description":"Naturalness of expression (1-10)"},"collocational":{"type":"number","nullable":true,"description":"Standard word combinations (1-10)"},"discourse":{"type":"number","nullable":true,"description":"Connectors and coherence (1-10)"},"pragmatic":{"type":"number","nullable":true,"description":"Register and tone (1-10)"},"calque":{"type":"number","nullable":true,"description":"Avoids mirror renderings (1-10, high = few calques)"},"issue_type":{"type":"string","nullable":true,"description":"calque | collocation | idiom_literal | discourse_marker | register_mismatch | false_friend | none"},"severity":{"type":"string","nullable":true,"description":"critical | major | minor | cosmetic"},"problematic_phrase":{"type":"string","nullable":true,"description":"Short substring illustrating the main problem"},"suggested_fix":{"type":"string","nullable":true,"description":"Brief fix suggestion"},"main_issue":{"type":"string","nullable":true,"description":"One sentence summary of the main linguistic issue"},"error":{"type":"string","nullable":true,"description":"Error message if evaluation failed for this item"},"status_code":{"type":"number","nullable":true,"description":"HTTP status code for failed evaluations"}}}},"batch_summary":{"type":"object","properties":{"total":{"type":"number","description":"Total number of items processed"},"successful":{"type":"number","description":"Number of successful evaluations"},"failed":{"type":"number","description":"Number of failed evaluations"}}}}}}}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"402":{"description":"Payment required - quota exceeded"},"500":{"description":"Internal server error"}}}},"/translation/fluency":{"post":{"tags":["Translation"],"summary":"Evaluate translation fluency","description":"Evaluates the fluency of a translation and provides improvement feedback.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"sourceLang":{"type":"string","description":"The source language code","example":"en"},"targetLang":{"type":"string","description":"The target language code","example":"de"},"sourceText":{"type":"string","description":"The original text in the source language","example":"Hello world"},"translatedText":{"type":"string","description":"The translated text to evaluate","example":"Hallo Welt"}},"required":["sourceLang","targetLang","sourceText","translatedText"]}}}},"responses":{"200":{"description":"Successful fluency evaluation","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"object","properties":{"fluency":{"type":"number","format":"float","description":"Aggregate fluency score (mean of 5 dimensions, 1-10)","example":6.4},"idiomatic":{"type":"integer","description":"Naturalness of expression for a native reader (1-10)","example":7},"collocational":{"type":"integer","description":"Standard, commonly accepted word combinations (1-10)","example":6},"discourse":{"type":"integer","description":"Connectors, coherence, information structure (1-10)","example":7},"pragmatic":{"type":"integer","description":"Register, tone, implicature, dialogue markers (1-10)","example":6},"calque":{"type":"integer","description":"Avoids mirror renderings from source (1-10, high = few calques)","example":6},"issue_type":{"type":"string","description":"calque | collocation | idiom_literal | discourse_marker | register_mismatch | false_friend | none","example":"collocation"},"severity":{"type":"string","description":"critical | major | minor | cosmetic","example":"minor"},"problematic_phrase":{"type":"string","description":"Short substring from the translation illustrating the main problem","example":"macht Sinn"},"suggested_fix":{"type":"string","description":"Brief fix suggestion","example":"ergibt Sinn"},"main_issue":{"type":"string","description":"One sentence summary of the main linguistic issue","example":"The phrase is a calque from English and unnatural in German."}}}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Error message"}}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Authentication error message"}}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Error message"}}}}}}}}}}},"/translation/agentic-translate":{"post":{"tags":["Translation"],"summary":"Start an agentic translation task","description":"Initiates an asynchronous agentic translation task and returns a task ID for status tracking.","parameters":[{"in":"header","name":"X-Webhook-Url","schema":{"type":"string","format":"uri"},"required":false,"description":"Optional webhook URL to receive the translation result when the task is complete."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"textContent":{"type":"string","description":"Text to be translated","example":"Hello world"},"sourceLanguage":{"type":"string","description":"The source language (use 'auto' for automatic detection)","example":"auto"},"targetLanguage":{"type":"string","description":"The target language for the translation","example":"de"},"prompt":{"type":"string","description":"Custom prompt for translation","example":"Make all text in capital letters"},"ignoreCache":{"type":"boolean","description":"Ignore previous translation results"}},"required":["textContent","sourceLanguage","targetLanguage"]}}}},"responses":{"200":{"description":"Task created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"object","properties":{"task_id":{"type":"string","description":"ID of the created translation task"},"history_id":{"type":"string","description":"ID of the translation history record"},"status":{"type":"string","enum":["pending"],"description":"Initial status of the translation task"}}}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Error message"},"issues":{"type":"array","items":{"type":"string"},"description":"Validation error messages"}}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Authentication error message"}}}}}}}},"402":{"description":"Payment required - quota exceeded or unpaid invoice","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Quota exceeded or billing error message"},"quota_exceeded":{"type":"boolean","description":"Indicates quota was exceeded or payment is required"}}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","description":"Error message"}}}}}}}}}}},"/translation/agentic-translate/{id}":{"get":{"tags":["Translation"],"summary":"Get agentic translation task status by ID","description":"Retrieves the status and result of a specific agentic translation task by its ID.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Unique identifier of the agentic translation task"}],"responses":{"200":{"description":"Agentic translation task retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"object","required":["id","status","createdAt"],"properties":{"id":{"type":"string","description":"Unique identifier for the agentic translation task"},"status":{"$ref":"#/components/schemas/TranslationStatus"},"createdAt":{"type":"string","format":"date-time","description":"When the agentic translation task was created"},"completedAt":{"type":"string","format":"date-time","description":"When the agentic translation task was completed (only present when status is READY or ERROR)"},"result":{"type":"string","description":"Translated content (only present when status is READY)"},"error":{"type":"string","description":"Error message (only present when status is ERROR)"},"sourceLanguage":{"type":"string","description":"Source language of the translation"},"targetLanguage":{"type":"string","description":"Target language of the translation"}}}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Agentic translation task not found"},"500":{"description":"Internal server error"}}}},"/storage/upload-url":{"post":{"summary":"Get a signed URL for uploading a video file to storage","description":"Returns a signed URL that allows the client to upload a video file directly to cloud storage. Supported formats: `video/mp4`, `video/quicktime`, `video/x-matroska`, `video/webm`\n","tags":["Storage"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["filename","type","contentType","language"],"properties":{"filename":{"type":"string","example":"video.mp4","description":"The name of the video file to upload."},"type":{"type":"string","enum":["video"],"example":"video","description":"File type (must be video)."},"contentType":{"type":"string","example":"video/mp4","description":"MIME type of the video file."},"language":{"type":"string","example":"eng","description":"Language code for the video content (ISO 639-3)."}}}}}},"responses":{"200":{"description":"Successfully generated signed upload URL.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"timestamp":{"type":"string","format":"date-time"},"data":{"type":"object","properties":{"videoId":{"type":"string","example":"clx123abc456","description":"Video record ID (only for video uploads)"},"url":{"type":"string","example":"https://storage.googleapis.com/bucket/video-uploads/lecture_clx123abc456.mp4?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=..."},"filePath":{"type":"string","example":"video-uploads/lecture_clx123abc456.mp4"},"expiresAt":{"type":"string","format":"date-time","description":"Upload expiration time (only for video uploads)"}}}}}}}},"400":{"description":"Invalid input (validation error).","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"error":{"type":"object","properties":{"message":{"type":"string","example":"Invalid form data"},"issues":{"type":"array","items":{"type":"string","example":"Unsupported content type for selected type"}}}}}}}}},"401":{"description":"Unauthorized (invalid API key)."},"500":{"description":"Internal server error."}}}},"/public/live/{publicId}/stats":{"get":{"tags":["Realtime"],"summary":"Public realtime stats","description":"Streams realtime speaker/listener status updates for a public live link.","security":[],"parameters":[{"name":"publicId","in":"path","required":true,"schema":{"type":"string"},"description":"Public listener link ID"}],"responses":{"200":{"description":"Server-sent events stream with realtime stats updates","content":{"text/event-stream":{"schema":{"type":"string","description":"Server-sent events stream"}}}},"404":{"description":"Public link or stream not found"},"410":{"description":"Public link has expired"}}}},"/public/live/{publicId}/egress":{"post":{"tags":["Realtime"],"summary":"Start RTMP egress for a public listener room","description":"Starts audio-only RTMP egress for the translated listener room represented by the public link.","security":[],"parameters":[{"name":"publicId","in":"path","required":true,"schema":{"type":"string"},"description":"Public listener link ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartRtmpEgressRequest"}}}},"responses":{"200":{"description":"RTMP egress started successfully","content":{"application/json":{"schema":{"type":"object","required":["status","timestamp","data"],"properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"$ref":"#/components/schemas/StartRtmpEgressResult"}}}}}},"400":{"description":"Invalid request body"},"404":{"description":"Public link not found"},"410":{"description":"Public link has expired"},"500":{"description":"Internal server error"}}}},"/public/live/{publicId}/egress/{egressId}":{"delete":{"tags":["Realtime"],"summary":"Stop RTMP egress","description":"Stops a previously started RTMP egress session for a public listener room.","security":[],"parameters":[{"name":"publicId","in":"path","required":true,"schema":{"type":"string"},"description":"Public listener link ID"},{"name":"egressId","in":"path","required":true,"schema":{"type":"string"},"description":"LiveKit egress ID"}],"responses":{"200":{"description":"RTMP egress stopped successfully","content":{"application/json":{"schema":{"type":"object","required":["status","timestamp","data"],"properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"nullable":true,"example":null}}}}}},"500":{"description":"Internal server error"}}}},"/public/live/{publicId}/connection":{"get":{"tags":["Realtime"],"summary":"Resolve a public listener connection","description":"Resolves a public listener link into a LiveKit connection payload for joining a translated listener room.","security":[],"parameters":[{"name":"publicId","in":"path","required":true,"schema":{"type":"string"},"description":"Public listener link ID"},{"name":"targetLang","in":"query","required":false,"schema":{"type":"string"},"description":"Preferred target language code for the listener room"}],"responses":{"200":{"description":"Public listener connection resolved successfully","content":{"application/json":{"schema":{"type":"object","required":["status","timestamp","data"],"properties":{"status":{"type":"string","enum":["ok"]},"timestamp":{"type":"string","format":"date-time"},"data":{"$ref":"#/components/schemas/PublicListenerConnection"}}}}}},"404":{"description":"Public link or stream not found"},"410":{"description":"Public link has expired"},"500":{"description":"Internal server error"}}}},"/me":{"get":{"tags":["Authentication"],"summary":"Get API key and account information","description":"Returns information about the API key used and the associated organization account","security":[{"APIKeyHeader":[]}],"responses":{"200":{"description":"API key and organization information","content":{"application/json":{"schema":{"type":"object","required":["status","timestamp","data"],"properties":{"status":{"type":"string","description":"Status of the request","enum":["ok","error"],"example":"ok"},"timestamp":{"type":"string","description":"Timestamp of the response","format":"date-time","example":"2025-10-10T12:34:56.789Z"},"data":{"type":"object","required":["apiKey","organization"],"properties":{"apiKey":{"type":"object","description":"Information about the API key used","required":["name","createdAt","createdByUserName"],"properties":{"name":{"type":"string","description":"Name of the API key","example":"Production API Key"},"createdAt":{"type":"string","description":"When the API key was created","format":"date-time","example":"2025-01-15T10:30:00.000Z"},"createdByUserName":{"type":"string","description":"Name of the user who created the API key","example":"John Doe"}}},"organization":{"type":"object","description":"Information about the organization","required":["id","name","subscriptionStatus"],"properties":{"id":{"type":"string","description":"Organization ID","example":"org_123abc"},"name":{"type":"string","description":"Organization name","example":"Acme Corporation"},"subscriptionStatus":{"type":"string","nullable":true,"description":"Current subscription status","example":"active"}}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","example":"API key missing"}}}}}}}},"429":{"description":"Too Many Requests - Rate limit exceeded","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"timestamp":{"type":"string","format":"date-time"},"error":{"type":"object","properties":{"message":{"type":"string","example":"Too many requests"}}}}}}}}}}},"/health":{"get":{"tags":["Common"],"summary":"Health check endpoint","description":"Returns the health status of the API. This endpoint is publicly accessible and does not require authentication.","responses":{"200":{"description":"API health information","content":{"application/json":{"schema":{"type":"object","required":["status","timestamp","data"],"properties":{"status":{"type":"string","description":"Status of the request","enum":["ok","error"],"example":"ok"},"timestamp":{"type":"string","description":"Time of the health check","format":"date-time","example":"2025-01-12T22:31:48.856Z"},"data":{"type":"object","required":["health","version"],"properties":{"health":{"type":"string","description":"Health of the system","enum":["up","down"],"example":"up"},"version":{"type":"string","description":"System version","example":"1.0.0"}}}}}}}}}}}},"security":[{"APIKeyHeader":[]}],"tags":[]}